<link rel="stylesheet" href="../../public/css/reviewform.css" type="text/css">

<body>

  {{>header}}
  <br>
  <br>

  <br>
  <form>
    <p>Please give your like and review: </p>
    <div>
      <input type="radio" id="score0" name="score" value=1>
      <label for="score0">Like</label>
      <input type="radio" id="score1" name="score" value=0>
      <label for="score">Dislike</label>
      <br>
      <textarea class="form-control" rows="4" cols="50" name="comment" form="usrform" placeholder="Enter review here..."></textarea>
      <p class="text"></p>
      <p class="text1"></p>
      <p class="text2"></p>


      <p id="restaurantId" hidden>{{restaurantId}}</p>

    <div class="wrapper">
    <div class="twoButton">
      <button type="submit" class="btn btn-primary">Submit</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="/restaurants/{{restaurantId}}/#bottom" class="btn btn-info">Return</a>
    </div>
    </div>
  </form>

  <script src="/public/js/addReview.js"></script> 
</body>